$desktop: 600px;

body{
    background-color: rgb(0, 0, 1);
}



// Mobile
// ------
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text{
    text-align: center;
    color: white;
}

// .div{
//     //width: calc(100% -10px);
//     width: 100px;
//     height: 470px;
//     margin: 20px;
//     border: 1px solid green;
// }

// .div p{
//     text-align: center;
// }

// Desktop
// -------
@media screen and (min-width: $desktop){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    // .div{
    //     width: 100px;
    //     height: 470px;
    //     margin: 50px;
    // }

    // .div p{
    //     text-align: center;
    // }
}