.Container_big {
  width: 1920px;
  height: 1080px;
  background-color: #000000;

  align-items: center;
  display: flex;
  justify-content: center;

}


.Container_gallery {
  width: 1608px;
  height: 708px;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 100px;

}

.Rectangle-h {
  width: 200px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.5);

}


.house_image {
  height: 297px;
  margin-top: 1px;
  border-radius: 15px;
}


::-webkit-scrollbar {
  width: 10px;
}

.navbar-navh {
  color: red;
  font-family: GameofThrones;
  align-content: center;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  -webkit-justify-content: center;

}
