.Container_big {
  width: 1920px;
  height: 1080px;
  background-color: #000000;
  text-align: center;
  color: white;

}

.Container_gallery {
  width: 1608px;
  height: 708px;
  background-color: #000000;
  overflow-y: scroll;
  margin-left: 156px;
  padding-top: 151px;
}

.character_image{
  margin-top: 1px;
  border-radius: 5px;
  height: 320px;
}

.Rectangle-p {
  width: 200px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu{
  color: white;
  font-family: GameofThrones;
  text-align: center;
  background: black;
  font-size: 20px;
}

.navbar-nav {
  color: white;
  font-family: GameofThrones;
  align-content: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translatex(-50%);
  -webkit-justify-content: center;

}


