.container {
  margin: 0;
  padding: 0;
  position: relative;
}

.Games-of-Thrones {
  text-align: center;
  font-family: GameofThrones;
  font-size: 176px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  position: absolute;
  transform: translate(0, -170%);
}

h1 {
  font-size: 176px;
}








